[Unit]
Description=Gluu-Gateway server daemon
After=network.target postgresql.service konga.service kong.service
Requires=postgresql.service konga.service kong.service 

[Service]
Type=forking
ExecStart=/bin/bash -c ''
ExecStop=/bin/bash -c 'systemctl stop kong'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
